body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9ef;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}
h2{
text-align: center;
font-family: Arial, sans-serif;
color: green;
font-size: 29px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-left: 20px;
  border: 2px solid rgba(128, 128, 128, 0.566);
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  outline: none;   
}

input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left:20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.error{
  padding-left: 22px;
  font-size: 14px;
  color: red;
}
p{
  text-align: center;
  font-size: 12px;
  color: grey;
}
ol {
  padding-left: 0;
  list-style: none;
}

ol li {
  background-color: #f9f9f9;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
}

ol li button {
  background-color: #dc3545;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

ol li button:hover {
  background-color: #c82333;
}